.content-subtitle {
	max-width: 640px;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	margin: 30px 0 0 0;
	font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.content-subtitle {
		margin: 30px 0 0 0;
	}	
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.content-subtitle {
		font-size: 18px;
		line-height: 25px;
		margin: 23px 0 0 0;
		max-width: 443px;
	}
}

@media screen and (min-width: 375px) and (max-width: 424px) {
	.content-subtitle {
		font-size: 16px;
		line-height: 23px;
		margin: 23px 0 0 0;
		max-width: 343px;
	}
}

@media screen and (min-width: 320px) and (max-width: 374px) {
	.content-subtitle {
		font-size: 16px;
		line-height: 23px;
		margin: 20px 0 0 0;
		max-width: 260px;
	}
}