.place__url-heading {
	color: #AAA;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 0;
	position: absolute;
	bottom: 35px;
	
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.place__url-heading {
		left: -14px;
	}
}

